.main_container{
    width: 100%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form{
    width: 30%;
    height: 60%;
    border-radius: 10px;
    background-color: #104547;
}

.register_form h2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 3rem;
    color: white;
    margin:0;
}

.register_labels{
    width: 100%;
    height: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbtn{
    width: 70%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.register_labels label{
    width: 70%;
    height: 7%;
    flex-direction: column;
    display: flex;
    color: white;
    font-size: 2rem;
}

.register_labels input{
    width: 70%;
    height: 9%;
    flex-direction: column;
    display: flex;
    color: #104547;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    outline: none;
    color: #000;
}

.register_labels button{
    width: 40%;
    height: 10%;
    font-size: 1.5rem;
    border-radius: 10px;
}

.register_labels button:hover{
    background-color: #e9d8c0;
    color: #104547;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.error_message {
    animation: shake 0.3s ease;
}